html{
    font-family: "Montserrat", sans-serif;;
    font-size: 16px;
}
h1{
    font-weight: 500;
    text-align: center;
}
h3{
    padding: 2rem;
}

header{
    display: flex;
    width: 100%;
    justify-content: center;
}

main{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#messageBox{
    border: 1px solid black;
    height: 200px;
    flex-basis: 30rem;;
    text-align: center;
}

.buttonContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

button{
    width: 10rem;
    height: 4rem;
    margin: 1rem;
    background-color: white;
    border: 4px solid rgb(85, 205, 241);
    border-radius: 1em;
    color: rgb(104, 105, 105);
    cursor: pointer;

}

button:hover{
    background-color: rgb(236, 236, 236);
}

#message{
    padding: 2.5rem;
}

#author{
    color: rgb(39, 38, 38);
    font-size: .9rem;
}